.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding: 0 24px;
  border: 1px solid #c00100; /* Set the border */
  height: 80px;
  box-sizing: border-box; /* Ensure the padding doesn't affect the size */
}

.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center; /* Center the search bar */
  margin: 0 1px; /* Adjust the left and right margin */
  margin-top: 30px;
  width: 60%;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.notification-icon {
  position: relative;
  color: #c00100;
  margin-left: 16px; /* Add margin to separate icons */
}

.notification-badge {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: #c00100;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
}

.notifications-dropdown {
  position: absolute;
  top: 60px;
  right: 16px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 100;
}

.notifications-dropdown mat-list-item {
  border-bottom: 1px solid #eee;
}
