.book-appointment-card {
  width: 750px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  margin-left: 10%;
}
.header {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  background-color: #d11d1d;
  border-radius: %;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 16px;
  gap: 16px; /* Space between columns and rows */
}

.form-column {
  flex: 1;
  min-width: 280px; /* Adjust as needed */
}

.full-width {
  width: 96%;
}

.submit-button {
  display: block;
  margin: 20px auto;
  width: 200px;
}

.loading-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
