<div class="container">
  <mat-card class="box">
    <mat-card-title class="title">Afya Bora</mat-card-title>
    <mat-card-subtitle class="subtitle">OTP Verification</mat-card-subtitle>
    <mat-card-content>
      <p class="description">
        A verification code has been sent to <span class="email">{{ email }}</span>. If the email address is incorrect, you can go back and change it.
      </p>
      <p class="directions">Enter OTP sent to your device here</p>
      <form (submit)="handleVerifyOTP($event)">
        <div class="otp-inputs">
          <input
            *ngFor="let control of otpArray.controls; let i = index"
            type="text"
            maxlength="1"
            [formControl]="getOtpControl(i)"
            (input)="handleInputChange(i, $event)"
            [attr.id]="'otp-' + i"
            class="otp-field"
          />
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="verifyLoading" class="btn-verify">
          {{ verifyLoading ? 'Verifying...' : 'Verify OTP' }}
        </button>
      </form>
      <button mat-button color="accent" (click)="handleResendOTP()" [disabled]="resendLoading" class="btn-resend">
        {{ resendLoading ? 'Resending...' : 'RESEND OTP' }}
      </button>
    </mat-card-content>
  </mat-card>
</div>
