.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dee1e6;
}

.box {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  text-align: center;
}

.title {
  color: #c00100;
  font-weight: bold;
}

.subtitle {
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 20px;
}

.email {
  color: blue;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.otp-field {
  width: 60px;
  text-align: center;
  margin-right: 5px;
}

.btn-verify {
  background-color: #c00100;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-resend {
  background-color: white;
  color: #c00100;
  padding: 10px 20px;
  border: 1px solid #c00100;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
