.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dee1e6;
}

.box {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7); /* Added box shadow */
}

.title {
  color: #c00100;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 15px;
}

.subtitle {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.description {
  margin-bottom: 10px;
  font-size: 15px;
}

.directions {
  font-size: 18px;
  font-weight: 500;
}

.email {
  color: blue;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.otp-field {
  width: 25px;
  height: 25px;
  text-align: center;
  margin-right: 5px;
}

.btn-verify {
  background-color: #c00100;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-resend {
  background-color: white;
  color: #c00100;
  padding: 10px 20px;
  border: 1px solid #c00100;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}
